body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
    padding: 20px
}

main {
    max-width: 900px;
    margin: 0 auto
}

form label {
    display: block;
    margin: 8px 0
}

textarea {
    width: 100%;
    height: 80px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px
}

th,
td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left
}

pre {
    white-space: pre-wrap;
    font-family: inherit;
    margin: 0
}